---
layout: default
title: Explore Whistler's work
---
<div class="container mb-3">
  <div class="row">
{% assign rows =  paginator.posts.size | divided_by: 2.0 | ceil %}
{% for i in (1..rows) %}
{% assign offset = forloop.index0 | times: 2 %}
{% assign sorted =  paginator.posts  %}
    {% for author in sorted limit:2 offset:offset %}
    <div class="col-md-4 mb-3">
      <div class="card h-100" >
        <a href="{{site.baseurl}}{{ author.permalink }}" class="stretched-link">
          <img class="card-img-top square" src="{{author.preview}}" alt="Card image cap" width="300" height="300"/>
        </a>
        <div class="card-body">
          <h3 class="lead mt-2">
            <a href="{{site.baseurl}}{{ author.permalink }}" class="stretched-link">{{author.title}}</a>
          </h3>
          {% for tag in author.tags %}
          <span class="badge badge-dark badge-large p-2 mb-2 mr-2 ">
            <a href="" class="text-white"><i class="fas fa-tags"></i> {{ tag | capitalize }}</a>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  {% endfor %}
  </div>
</div>

<div class="section-pagination text-center">
    <nav class="d-table mx-auto">
        <ul class="pagination">
            {% if paginator.previous_page %}
                {% if paginator.previous_page == 1 %}
                    <li class="page-item"><a class="page-link" href="/explore">&laquo;</a>
                {% else %}
                    <li class="page-item"><a class="page-link" href="/explore/page/{{ paginator.previous_page }}">&laquo;</a></li>
                {% endif %}
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}

            {% for i in (1..paginator.total_pages) %}
                {% if i == 1 %}
                    {% if paginator.page == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/explore">{{ i }}</a></li>
                    {% endif %}
                {% else %}
                    {% if paginator.page == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/explore/page/{{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% if paginator.next_page %}
                <li class="page-item"><a class="page-link" href="/explore/page/{{ paginator.next_page }}">&raquo;</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
</div>
